/* GENERAL */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #031c4e;
}

/* UTILITIES */

/* Layout */
section {
  padding-top: 60px;
  padding-bottom: 50px;
}

.text-blue {
  color: #006aff;
}

/* Typographic */
h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1 {
  color: #fff;
  font-size: 38px;
  line-height: 1.2;
  margin-top: 15px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  color: #6f7b97;
  font-size: 12px;
}

p {
  font-weight: 600;
  font-size: 13px;
 }

/* HEADER */

/* NAVBAR */
.main-header .navbar {
  margin-bottom: 0;
  background: #ffffff;
  border: none;
  border-radius: none;
  font-size: 14px;
  padding: 10px 0;
}

.navbar .container {
  position: relative;
}

.navbar .navbar-toggle {
  border-color: #ffffff;
}

.navbar .navbar-toggle .icon-bar {
  background-color: #3a8aff;
  height: 3px;
}

.navbar .navbar-left {
  margin: 0 5%;
}

.navbar .navbar-left,
.navbar .navbar-right {
  display: none;
}

.main-header img {
  width: 150px;
  max-width: 100%;
  position: relative;
  bottom: 6px;
}

.main-header .navbar-brand,
.main-header .navbar-nav li a {
 color: #1e3460;
 font-weight: 600;
 padding: 15px 9px;
}

.main-header .navbar-nav li .btn-navbar {
  color: #006aff;
  border-color: #006aff;
  padding: 5px 15px;
  margin-top: 9px;
}

/* HERO */
.hero {
  background: url("../img/bg-banner-home.jpg");
  background-position: center;
}

.hero p {
  color: #bbcdff;
  font-size: 18px;
  line-height: 1.5;
}

.hero img {
  width: 20px;
  max-width: 100%;
  display: block;
  position:absolute;
}

.hero .hero-form {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
}

.hero .hero-form h2 {
  line-height: 1.5;
}

.hero-form .form-group {
  margin-bottom: 10px;
}

.hero-form .form-group > .form-control {
  height: 40px;
  padding: 3px 6px;
  border-color: rgba(204, 204, 204, 0.3);
  box-shadow: 0 0px 1px rgba(0,0,0,.075);
}

.hero .hero-form p {
  color: #031c4e;
  font-size: 12px;
  margin-top: 10px;
}

.hero-form ::placeholder {
  color: #757575;
  font-weight: 600;
}

.hero-form form > :nth-child(3){
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  background: #579aff;
  border: none;
}

.hero-form form > :last-child{
  color: #757575;
  font-size: 13px;
  font-weight: 600;
  border-color: rgba(204, 204, 204, 0.2);
  box-shadow: 1px 2px 1px #e3e3e3;
}

.hero-form p > a {
  text-decoration: underline;
}

/* MAIN CONTENT */

/* CUSTOMER */
.customer {
  background-color: #f3f5f9;
}

.customer li {
  width: calc((100%/2) - 53px);
  margin: 10px 10px;
}

.customer img {
  display: inline-block;
  width: 200px;
}

.customer a {
  font-weight: 600;
  font-size: 14px;
}

.customer a:hover {
  text-decoration: none;
}

.customer a span {
  position: relative;
  top: .5px;
  margin-left: 5px;
}

/* DEPLOY */
section h2 {
  font-size: 30px;
}

section p {
  font-size: 20px;
  color: #5c6a88;
}

section .deploy-list {
  border-left: 2px solid #cccccc;
  padding-inline-start: 10px;
  line-height: 2.5;
}

.deploy-list > li {
  list-style: none;
}

.deploy-list li a {
  font-size: 20px;
  color: #75809a;
  font-weight: 600;
}

.row .deploy-list {
  margin: 50px 0 15px 0;
}

section h3 + p {
  font-size: 15px;
}



/* TABLET */
@media screen and (min-width: 768px) {
  /* HERO */
  h1 {
    font-size: 34px;
  }

  .hero p {
    font-size: 20px;
  }

  h2 {
    font-size: 24px;
  }

  /* CUSTOMER */
  h4 {
    font-size: 16px;
  }

  p {
    font-size: 14px;;
   }

  .customer li {
    width: 103px;
    margin: 10px 5px;
   }

   /* DEPLOY */
   .row > .deploy-row {
     margin-top: 50px;
   }

    .row > .deploy-cluster {
     margin-bottom: 25px;
   }
}


/* DESKTOP */
@media screen and (min-width: 992px) {
  /* NAVBAR */
  .navbar .navbar-left,
  .navbar .navbar-right {
    display: initial;
  }

  /* HERO */
  h1 {
    font-size: 48px;
  }

  .hero p {
    font-size: 22px;
  }

  h2 {
    font-size: 24px;
  }

  /* CUSTOMER */
  h4 {
    font-size: 18px;
  }

  p {
    font-size: 15px;;
  }

   .customer li {
     width: 135px;
     margin: 10px 6px;
  }
}

/* HAMBURGER - HEADER */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* Mostra hamburger */
  .navbar-toggle {
    display: block;
    position: absolute;
    right: 0;
  }

    /* Nascondi contenitore menu */
  .navbar-collapse {
    display: none;
  }
}
